

<!-- Modal -->
<div class="modal fade" id="bookShelfModal" tabindex="-1" aria-labelledby="bookshelfModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookshelfModalLabel">Kitaplık Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        <div class="modal-body">
          <div class="modal-body">

            <div class="mb-3">
              <div class="col">
                <ul>
                  {% for error in bookshelf_form.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                  {{ bookshelf_form.csrf_token }}
                  {{ bookshelf_form.hidden_tag() }}
                <div class="mb-3">
                  <label for="bookName" class="form-label">{{ bookshelf_form.title.label }}</label>
                  {{ bookshelf_form.title(class="form-control") }}
                </div>
              </div>
            </div>
            <div class="my-3 ml-3">
              <label class="form-label">Kitaplık Rengini Seç</label>
              <div class="row g-2 justify-content-center">
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="dark" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-dark"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput form-colorinput-light">
                    <input name="color" type="radio" value="white" class="form-colorinput-input" checked="">
                    <span class="form-colorinput-color bg-white"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="blue" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-blue"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="azure" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-azure"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="indigo" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-indigo"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="purple" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-purple"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="pink" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-pink"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="red" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-red"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="orange" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-orange"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="yellow" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-yellow"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="color" type="radio" value="lime" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-lime"></span>
                  </label>
                </div>
              </div>
            </div>
            <div>
              <label class="form-label">{{ bookshelf_form.description.label }}</label>
              {{ bookshelf_form.description(class="form-control") }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {{ bookshelf_form.submit(class="btn btn-primary") }}
        </div>          
      </form>
    </div>
  </div>
</div>